<header>
    <div class="container-header">
        <div class="container-left">
            <img class="logo" src="../../../../assets/logo.png" alt="">
            <button class="categories">Categorías</button>
            <div class="icon"></div>
        </div>
        <div class="container-rigth">
            <div class="container-input-icon">
                <div class="input">
                    <input class="searchInput" type="text" placeholder="Título del ánime">
                </div>
                <div class="iconSearch">
                    <div class="search"></div>
                </div>
            </div>
        </div>
    </div>
</header>
