.container-cards{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    max-width: 1350px;
    margin: 0 auto;
    
}

.mangas-title-component{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    color: orange;
}

app-card{ margin: 0 auto; }


@media(min-width: 600px){
    .container-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 900px){
    .container-cards{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 1200px){
    .container-cards{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 1300px){
    .container-cards{
        grid-template-columns: repeat(5, 1fr);
    }
}