<app-header (zIndexCards)="zIndex($event)" (manga)="showMangaSearch($event)" [animeOrManga]="false"></app-header>

<p class="mangas-title-component">MANGAS</p>

<div class="container-cards">

    <ng-container *ngIf="!showConteninerMangas">
        <ng-container *ngFor="let manga of listManga">
            <app-card [style.z-index]="zIndexCard ? -10 : 0" [manga]="manga" [showContainerCard]="false"></app-card>
        </ng-container>
    </ng-container>

    <!-- <ng-container *ngIf="showConteninerMangas">
        <p>mangas buscados</p>
    </ng-container> -->

</div>

<app-pagination (numberPage)="paginationMangas($event)"></app-pagination>