<div class="container">
    <div class="card-container">
        <img class="imgAnime" src="https://animefenix.tv/cdn/animes/cover/6258c1502fc6a/summer-time-render.jpg" alt="">
        <div class="nameAnime">
            <p class="title">Summer Time Render</p>
        </div>
        <div class="sinopsisAnime">
            <p class="sinopsis">
                Shimpei Ajiro, cuyo amigo de la infancia Ushio Kofune murió. 
                Regresa a su ciudad natal por primera vez en dos años para el funeral. 
                Sou Hishigata, su mejor amigo, sospecha que algo anda mal con la muerte 
                de Ushio y que alguien más puede morir a continuación. Se escucha un 
                presagio siniestro cuando una familia entera de al lado desaparece 
                repentinamente al día siguiente. Además, Mio implica una "sombra" tres 
                días antes de la muerte de Ushio.
            </p>
        </div>
    </div>
</div>
