
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@700&display=swap');

.container{
    // background-color: aqua;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        color: white;
        margin-bottom: 50px;
    }

}

.card-button{
    // background-color: brown;
    width: 300px;
    height: 50px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        border: none;
        background: none;
        width: 80%;
        height: 90%;
        cursor: pointer;
        font-size: 30px;
        // font-weight: bold;
        font-family: 'Edu NSW ACT Foundation', cursive;
        color: white;
        background-color: orange;
        border-radius: 10px;
        transition: background-color .3s;

        &:hover{
            background-color: rgb(153, 102, 8);
        }
    }

}