<app-header (zIndexCards)="zIndex($event)" (anime)="showAnimeSearch($event)" [animeOrManga]="true"></app-header>

<p class="animes-title-component">ANIMES</p>

<div class="container-cards">
    <ng-container *ngIf="!showConteninerAnimes">
        <ng-container *ngFor="let anime of listAnime">
            <app-card [style.z-index]="zIndexCard ? -10 : 0" [anime]="anime" [showContainerCard]="true"></app-card>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="showConteninerAnimes">
        <!-- <ng-container *ngFor="let animeSearch of listAnimeSearch">
            <app-card [style.z-index]="zIndexCard ? -10 : 0" [anime]="animeSearch"></app-card>
        </ng-container> -->
        <p>animes buscados</p>
    </ng-container>
</div>
